<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.footer{
    background: #5c5c5c;
    border-top: 4px solid #515151;
    color: #b0b0b0;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.footer .footer-keywords a {
    display: inline-block;
    text-decoration: none;

}
.footer a {
    color: #b0b0b0

}
.footer .footer-keywords{
    font-size: 12px;
    line-height: 18px;
    opacity: .8;
}



</style>    
</head>
<body>
  <div class="footer" style="visibility: visible; width:2000px; margin-left: 0px">
  <div class="partner-dashboard-wide container body-wraper" style="padding-left: 15px ;">
  <div class="item label">Pagalba ir informacija</div>
  <div class="item contact" >
    <div class="kas-phone">+370685268777 </div>

  </div>
  <div class="footer-row footer-keywords add-comma">
    <a href="">Naudoti automobiliai</a>
    <a href="">Nauji automobiliai</a>
    <a href="">Mikroautobusai</a>
    <a href="">Autobusai</a>
    <a href="">Sunkvezimiai</a>
    <a href="">Motociklai</a>
    <a href="">Automobiliu dalys</a>
    <a href="">Mikroautobusai dalys</a>
    <a href="">Sunkvezimiu dalys</a>
    <a href="">Motociklu daliu pardavimas</a>
    <a href="">Padangos,ratlankiia</a>
     
  </div>


</div>
<div class="footer-row footer-projects">
    <div class="links">
        <a href="">Autoplius</a>
        <a href="">auto24</a>
        <a href="">skelbiu.lt</a>
        <a href="">aruodas.lt</a>
        <a href="">cvbankas.lt</a>
        <a href="">paslaugos.lt</a>

    </div>
</div>
<div class="footer-diginet">2003-2024 UAB Diginet LTU </div>

</div>  

</body>
</html>