<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 {% include 'navbar.html' %}   
  
  
<div class="conatner">
  <div class="row">
    {% for product in products %}
    <div class="col-md-2">
      <div class="card">
        <img src="{{product.image.url}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="{% url 'index_detail' pk=product.pk  %}" class="btn btn-primary">Placiau</a>
        </div>
      </div>
    </div>
    {%  endfor %}
  </div>
</div>
    





{% include 'footer.html' %}   
</body>
</html>